option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus has to be defines through EB CLI arguments on environment creation.
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: network

  aws:elbv2:listener:7474:
    Protocol: TCP
    DefaultProcess: http
  aws:elasticbeanstalk:environment:process:http:
    Port: '7474'
    Protocol: TCP

  aws:elbv2:listener:7687:
    Protocol: TCP
    DefaultProcess: bolt
  aws:elasticbeanstalk:environment:process:bolt:
    Port: '7687'
    Protocol: TCP

  aws:elbv2:loadbalancer:
    SecurityGroups: sg-21ac675b
