option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus has to be defines through EB CLI arguments on environment creation.
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: network

  aws:elb:listener:7474:
    ListenerProtocol: HTTP
    InstancePort: '7474'
    InstanceProtocol: HTTP

  aws:elb:listener:7687:
    ListenerProtocol: TCP
    InstancePort: '7687'
    InstanceProtocol: TCP

  aws:elb:healthcheck:
    Target: HTTP:7474/

  aws:elb:listener:
    ListenerEnabled: false

  aws:elb:loadbalancer:
    SecurityGroups: sg-21ac675b
